themes/hugo-whisper-theme/
themes/hugo-whisper-theme/.DS_Store
themes/hugo-whisper-theme/node_modules
themes/hugo-whisper-theme/.idea
themes/hugo-whisper-theme/public
themes/hugo-whisper-theme/terminal
themes/hugo-whisper-theme/resources